body{
    background-image: url(../assets/bg/historia-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-weight: normal;
    font-size: 96px;
}

h3{
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    padding: 300px 0 0 20px;
}

button{
    border: none;
    background: url("../assets/icons/arrow-down.png");
    height: 25px;
    width: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
}


.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.cards > div{
    height: 100%;
    width: 60vw;
    background-color: white;
    box-shadow: 0 15px 15px 5px black;
    margin-bottom: 100px;
}

.cards > div > div{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #125D74;
    font-size: 26px;
    padding: 20px 0;
}

.cards > div > div:last-child{
    display: none;
    font-size: 20px;
    height: 40%;
    padding: 30px 0;
    align-items: flex-end;
    text-align: justify;
}

.cards > div > div p{
    width: 80%;
    line-height: 35px;
}


.fechar{
    background: url("../assets/icons/arrow-up.png");
    height: 25px;
    width: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
}

.mario-bg{
    background-image: url("../assets/bg/mario-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
} 

.celeste-bg{
    background-image: url("../assets/bg/celeste-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.meatBoy-bg{
    background-image: url("../assets/bg/meatBoy-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}


.titulo-historia{
    height: 400px;
    color: white;
    text-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.titulo-historia p {
    font-size: 34px;
}



footer{
    color: white;
}